*, *::before, *::after {
    box-sizing: border-box;
    font-weight: normal;
}

body {
    margin-top: 70px;
    background:linear-gradient(to right, #00AAFF, #00FF6C);
    color:#fff;
}

input{
    width: 100%;
}